<div class="bg outDiv">
{{#each albums}}
<div class="bg2 centerDiv">
    <img src="{{this.images.0.url}}" alt="{{name}}" />
    <h3>{{name}}</h3>
    <a class="linkD" href="/tracks/{{this.id}}">View Tracks</a>
</div>
{{/each}}
</div>