<div class="bg outDiv">
{{#each artists}}
<div class="bg2 centerDiv">
    <img src="{{this.images.0.url}}" alt="{{name}}" />
    <h3>{{name}}</h3>
    <a class="linkD" href="/albums/{{this.id}}">View Albums</a>
</div>    
{{/each}}
</div>